<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.eddb.eddb2backend.infrastructure.persistence.mybatis.mappers.CommodityMapper">
    <select id="findAll" resultType="io.eddb.eddb2backend.application.dto.persistence.CommodityEntity">
        SELECT *
        FROM commodities
    </select>

    <insert id="save" parameterType="io.eddb.eddb2backend.application.dto.persistence.CommodityEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO commodities (id, name)
        VALUES (#{id}, #{name})
    </insert>

    <select id="findByNameStartingWith" resultType="java.lang.String">
        SELECT *
        FROM commodities
        WHERE name LIKE "#{name}%"
    </select>

    <delete id="delete" parameterType="java.util.UUID">
        DELETE
        FROM commodities
        WHERE id = #{id}
    </delete>
</mapper>
