<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.eddb.eddb2backend.infrastructure.persistence.mybatis.mappers.StationMapper">
    <select id="findAll" resultType="io.eddb.eddb2backend.application.dto.persistence.StationEntity">
        SELECT *
        FROM stations
    </select>

    <insert id="save" parameterType="io.eddb.eddb2backend.application.dto.persistence.StationEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO stations (id, name)
        VALUES (#{id}, #{name})
    </insert>

    <select id="findByName" resultType="java.lang.String">
        SELECT *
        FROM stations
        WHERE name = "#{name}"
    </select>

    <select id="findByNameStartingWith" resultType="java.lang.String">
        SELECT *
        FROM stations
        WHERE name LIKE "#{name}%"
    </select>
</mapper>
`
